@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
     © 2018 Ilumicast Intellectual Property. All rights reserved. Ilumicast, Globe logo, and DIRECTV are registered trademarks of Ilumicast Intellectual Property and/or Ilumicast affiliated companies. HBO®, Cinemax®, and related channels and service marks are the property of Home Box Office, Inc. All other marks are the property of their respective owners. .
</p>
