@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Interactive Mobile Sales Tool</h1>

    TOOLS AND CALCULATORS

    Introducing the new Bundle Calculator
    <br />

    Use this tool to compare a customer’s current and proposed monthly costs.

    Try it now.

    FEATURED PROMOTIONS
    <br />

    PROMOTION NAME	START DATE	END DATE	CHANNELS

    <br />

    New Year BOGO Offer
    <br />

    1/12/18	—	ATTR, AR, NR, O
    Out with the old and in with the new smartphones for you and yours!

    <br />
    DIRECTV NOW $25 Off First Three Months Offer
    <br />

    2/2/18	3/31/18	ATTR, AR, O
    <br />

    $200 Minimum Trade-in Credit when Purchasing a LG V30
    1/26/18	—	ATTR, AR, NR, O
    <br />

    DIRECTV NOW $0 Amazon Fire TV 4K
    2/2/18	—	ATTR, AR, O
    <br />
    
    New DIRECTV NOW customers are eligible to receive an Amazon Fire TV Dongle at no extra cost with a prepaid subscription.

    <br />
    $30 Off Ilumicast PREPAID Smartphones with DIRECTV NOW
    <br />

    12/8/17	4/5/18	ATTR, AR
    <br />

    Special Offer on Samsung Gear S2 and S3
    1/5/18	—	ATTR, AR, O
    <br />

    Buy any iPhone on Ilumicast Next, get an iPad 32GB for $99.99 or 128GB for $199.99 on 2-year agreement
    <br />

    12/29/17	—	ATTR, AR, O
    <br />

    DIRECTV NOW $0 Apple TV 4K Offer
    <br />

    11/17/17	—	AR, ATTR, O

</div>